<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organiser Account SIGNUP</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js"></script>
    <script src="js/form-validate.js"></script>
</head>
<body>
    <h1>UCF 2024 Organiser Registration</h1><br>
    <form action="login.html" onsubmit="return validate();">
        <label for="name">Name: </label>
        <input type="text" id="name"/><br>

        <label for="email">Email: </label>
        <input type="text" id="email" /><br>

        <label for = "phone">Phone Number: </label>
        <input type="text" id="phone" /><br>

        <label for="dob">Date of Birth: </label>
        <input type="date" id="dob" /><br>

        <label>Gender: </label>
        <input type="radio" id="male" name="gender" value="Male"/><span>Male</span>
        <input type="radio" id="female" name="gender" value="Female"/><span>Female</span>
        <input type="radio" id="other" name="gender" value="Other"/><span>Other</span><br>

        <label for="organiser_id">Organiser ID: </label>
        <input type="text" id="organiser_id" /><br>

        <label for="position_of_responsibility">Position of Responsibility: </label>
        <input type="text" id="position_of_responsibility" /><br>

        <label for="username">Username: </label>
        <input type="text" id="username" /><br>

        <label for="password">Password: </label>
        <input type="password" id="password" /><br>

        <label for="cnfrmpass">Confirm Password: </label>
        <input type="password" id="cnfrmpass" /><br>

        <button type="submit">Register</button>
    </form>
</body>
</html>
